body {
  background: none repeat scroll 0 0 #EEEEEE;
  font-family: Helvetica,Arial;
  margin: 0 auto;
  margin-top:30px;
  width: 40.2%;
  line-height: 1;
  font-size: 18px;
}

h2 span {
  font-size: 12px;
}

form p { 
  position:relative;
  display: block;
  padding: 0;
  width: 380px;
}

form label { 
  position: absolute;
  width: 225px; 
  line-height: 30px;
  cursor: text;
  padding-left: 8px;
  color: grey;
}

form label.fade {
  color: grey;
}

form input {
  line-height: 20px; 
  width: 225px; 
  height: 30px;
  padding-left: 5px;
  color: black;
}

h2 {
  border-bottom: 2px dashed #ff0084;
}

label {
  font-size: 12px;
}

button {
  padding: 7px;
  color: white;
  background-color: green;
  border: none;
}
